html, body {
    height: 100%;
    margin: 0;
}

h1 {
    color: var(--Text_2);
}

p {
    color: var(--Text_1);
}


body {
    min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app > .middle {
    display: flex;
    flex: 1 1 auto;
    min-height: 0; /* WICHTIG wegen Scroll-Problemen */
}

.main_view {
    background-color: var(--Main_1);
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header-bar {
    height: 50px;
    background-color: var(--Main_2);
}

footer-bar {
    height: 20px;
    background-color: var(--Main_2);
}