body {
    background-color: var(--Main_1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: var(--Text_1);
}

p {
    color: var(--Text_2);
}